#intro {
    position: fixed;
    inset: 0;
    background: black;
    color: #00ffcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 48px;
}

#startBtn {
    padding: 12px 28px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: #00ffcc;
    color: black;
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    font-family: monospace;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container h1 {
    color: #00ffcc;
    font-size: 2.5rem;
    white-space: nowrap;
    border-right: 3px solid #00ffcc;
    padding-right: 8px;
    animation: blink 0.8s infinite;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    50% { border-color: transparent; }
}

#nextBtn {
    margin-top: 30px;
    padding: 12px 28px;
    font-size: 1.1rem;
    background: transparent;
    color: #00ffcc;
    border: 2px solid #00ffcc;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

#nextBtn:hover {
    background: #00ffcc;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#gift-box {
    font-size: 80px;
    margin-bottom: 20px;
    cursor: pointer;
    animation: giftIdle 1.5s infinite;
}

@keyframes giftIdle {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.zoom-in {
    animation: zoomToGift 2s forwards;
}

@keyframes zoomToGift {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(10);
    }
};

.gift-page {
    background: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.gift-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 60px;
    max-width: 900px;
    width: 100%;
    align-items: start;
}

.text-box {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

#giftTyping {
    display: block;
    width: 100%;
    color: #00ffcc;
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
    white-space: pre-wrap;
    position: relative;
}

#giftTyping::after {
    content: "|";
    margin-left: 2px;
    animation: blink 0.7s infinite;
}

#flower {
    width: 260px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 1.5 ease;
}

#flower.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes flowerIn {
    from {
        opacity: 0;
        transform: scale(0.7) translateY(30px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}
