#intro {
    position: fixed;
    inset: 0;
    background: black;
    color: #00ffcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 48px;
}

#startBtn {
    padding: 12px 28px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background: #00ffcc;
    color: black;
}

body {
    margin: 0;
    height: 100vh;
    background-color: black;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    color: #00ffcc;
    font-size: 2.5rem;
    white-space: nowrap;
    border-right: 3px solid #00ffcc;
    padding-right: 8px;
    animation: blink 0.8s infinite;
    justify-content: center;
    align-items: center;
}

@keyframes blink {
    50% { border-color: transparent; }
}

#nextBtn {
    margin-top: 30px;
    padding: 12px 28px;
    font-size: 1.1rem;
    background: transparent;
    color: #00ffcc;
    border: 2px solid #00ffcc;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

#nextBtn:hover {
    background: #00ffcc;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

#gift-box {
    font-size: 80px;
    margin-bottom: 20px;
    cursor: pointer;
    animation: giftIdle 1.5s infinite;
}

@keyframes giftIdle {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.zoom-in {
    animation: zoomToGift 2s forwards;
}

@keyframes zoomToGift {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(10);
    }
};

.gift-page {
    background: black;
    min-height: 100vh;
    font-family: monospace;
    display: block;
    margin: 0;
    padding: 0;
}

#giftBody {
    display: block !important;
    height: auto;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.gift-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 30px;
    gap: 10px;
}

.text-box {
    flex: 1;
    max-width: 90%;
}

#giftTyping {
    color: #00ffcc;
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: left;
    white-space: pre-wrap;
    display: block;
}

#giftTyping::after {
    content: "|";
    margin-left: 2px;
    animation: blink 0.7s infinite;
}

#flower {
    width: 350px;
    height: auto;
    position: sticky;
    top: 56px;
    opacity: 0;
    transform: translateX(150%);
    transition: all 1.5 ease;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 204, 0.2);
}

#flower.show {
    opacity: 1;
    transform: translateX(0);
    animation: slideInFromRight 1.5s ease-out forwards;
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(150%) scale(0.8);
    }
    60% {
        transform: translateX(-10px) scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@keyframes blink {
    50% { border-color: transparent; }
}

@keyframes flowerIn {
    from {
        opacity: 0;
        transform: scale(0.7) translateY(30px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0)
    }
}
